{% extends "base.html" %}

{% block content %}
<h1>Пользователи</h1>
<a href="{% url 'user_create' %}">Создать пользователя</a>
<table>
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Полное имя</th>
        <th>Дата создания</th>
        <th>Действия</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name }}</td>
        <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
        <td>
            <a href="{% url 'user_update' user.id %}">Изменить</a>
            <a href="{% url 'user_delete' user.id %}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
